.contact-jumbotron {
  /* Shows if the image fails or is still loading */
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 160px;
}

#medium-btn {
  border-color: #383838;
  color: #383838;
}
#medium-btn:hover {
  background-color: #383838;
  color: #ffffff;
}
